.logo {
    font-weight: 800;
    font-family: 'Signika', sans-serif;
}

.search-input{
    border-radius: 3px 0px 0px 3px !important;
}

.search-btn{
    border-radius: 0px 3px 3px 0px !important;
}

.all-category:hover {
    background-color: #f78d02;
}

.dropdown {
    position: fixed;
    z-index: 999;
    
    border-radius: 0% !important;
    background-color: #ececec;
}

.dropdown-container:hover{
    background-color: rgb(216, 216, 216);
    transition: .5s;
}

.dropdown-container a:hover{
    background-color: transparent !important;
}